*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hidden {
	display: none;
}

.show-bio {
    display: block !important;
}

body {
    background-color: var(--clr-gray100);
    background: url("../images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    font-family: 'Montserrat', sans-serif;

    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1.5fr 1.2fr 0.8fr;
        
        grid-template-areas: 
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
        grid-gap: 0.5rem;
        
        font-family: 'Inter', sans-serif;
        // font-weight: 800;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        text-align: center;
    
        nav {
            // background-color: #a7ffeb;
            // background-color: black;
            grid-area: nav;
            // border-radius: var(--main-radius);
            // padding-top: var(--main-padding);
        }
        
        main {
            // background-color: #84ffff;
            background-color: rgba(0, 0, 0, 0.8);
            grid-area: main;
            border-radius: var(--main-radius);
            // padding-top: var(--main-padding);
            text-transform: none;
            
            img {
                max-width:100%;
                max-height:100%;
                border-radius: var(--main-radius);
            }

            p {
                text-align: left;
                margin: 2% 3%;
                line-height: 1.5rem;
            }
        }
        
        #sidebar {
            // background-color: #18ffff;
            background-color: rgba(0, 0, 0, 0.8);
            grid-area: sidebar;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);

            h2 {
                color: white;
                margin-top: 10%;
            }

            p {
                color: white;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.4em;
                text-transform: none;
                text-align: left;
                padding: 0 25px;
            }

            .input-fields .input {
                font-family: 'Montserrat', sans-serif;
                margin: 10px 0;
                background: transparent;
                border: 0px;
                border-bottom: 1.5px solid white;
                padding: 10px;
                color: var(--clr-primary);
                width: 90%;
            }

            .btn {
                font-size: 1rem;
                background-color: var(--clr-primary);
                text-align: center;
                margin: 15px;
                padding: 15px;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                text-transform: uppercase;
                transition: all 200ms ease-in;
            }

            .btn:hover {
                background-color: var(--clr-primary-hover);
            }

            .notice {
                color: lightgray;
                font-weight: lighter;
                margin-top: 10%;
                font-size: 1vw;
            }

            h3 {
                color: white;
                margin-top: 1%;
            }

            .social {
                text-decoration: none;
                
                a {
                    color: white;
                    font-size: 2vw;
                    margin: 15px;
                }

                a:hover {
                    color: var(--clr-primary-hover);
                }
            }

        }
        
        #content1 {
            // background-color: #6fffd2;
            background-color: rgba(0, 0, 0, 0.8);
            grid-area: content1;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);

            img {
                max-width:100%;
                max-height:100%;
                border-radius: var(--main-radius);
                opacity: 0.6;
                cursor: pointer;
            }
            
            img:hover {
                opacity: 1;
            }
        }
        
        #content2 {
            // background-color: #64ffda;
            background-color: rgba(0, 0, 0, 0.8);
            grid-area: content2;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);

            img {
                max-width:100%;
                max-height:100%;
                border-radius: var(--main-radius);
                opacity: 0.6;
                cursor: pointer;
            }

            img:hover {
                opacity: 1;
            }
        }
        
        #content3 {
            // background-color: #73ffba;
            background-color: rgba(0, 0, 0, 0.8);
            grid-area: content3;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);

            img {
                max-width:100%;
                max-height:100%;
                border-radius: var(--main-radius);
                opacity: 0.6;
                cursor: pointer;
            }

            img:hover {
                opacity: 1;
            }
        }
        
        footer {
            // background-color: #1de9b6;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            grid-area: footer;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
        }
    }
}

