:root {
    --main-radius: 5px;
    --main-padding: 5px;

    // color variables
    --clr-primary: #b4bee1;
    --clr-primary-hover: #7a88c9;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    // border radius
    --radius: 0.2rem;
}